* {
    --md-default-bg-color: var(--ethereal-primary);
    --ethereal-header-bg: var(--ethereal-primary);
}

.md-header {
    border-bottom: none !important;
}

.ethereal-home {
    color: var(--ethereal-primary-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    gap: 0;

    h1 {
        color: var(--ethereal-primary-fg);
        display: inline-flex;
        font-size: 3rem;
        gap: 0.5rem;

        img {
            object-fit: cover;
            width: 10rem;
        }
    }

    .ethereal-home-thumbnail {
        width: 100vw;
        max-width: calc(100vw - 6rem);
        margin-top: 1rem;
        border-radius: 1rem;
    }
}
