.md-typeset {

    h1,
    h2,
    h3 {
        color: var(--ethereal-fg-light);
        font-weight: bold;
        margin: 0
    }

    h1,
    h2 {
        border-bottom: 0.1rem solid var(--ethereal-border);
    }

    img {
        border-radius: 0.5rem;
    }

    code {
        padding: 0.1rem 0.2rem;
        border: 0.1rem solid var(--md-typeset-table-color);
        border-radius: 0.25rem;
    }

    .md-typeset__table {
        table:not([class]) {
            background-color: var(--ethereal-bg-light);
            border: 0.1rem solid var(--md-typeset-table-color);
            border-radius: 0.25rem;

            thead {
                background-color: var(--ethereal-bg-lighter);
            }
        }
    }
}

.md-typeset a:focus,
.md-typeset a:hover {
    color: var(--ethereal-primary-lighter);
}

.md-typeset a:hover code {
    background-color: var(--ethereal-primary);
    color: var(--ethereal-primary-fg);
}

a.ethereal-button,
button.ethereal-button {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.6rem;
    background-color: var(--button-bg);
    color: var(--button-fg);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    border: 0.1rem solid var(--button-border);

    &:hover {
        background-color: var(--button-hover-bg);
        color: var(--button-hover-fg);
    }
}

.ethereal-button-primary {
    --button-bg: var(--ethereal-primary-light);
    --button-fg: var(--ethereal-primary-fg-light);

    --button-hover-bg: var(--ethereal-primary-lighter);
    --button-hover-fg: var(--ethereal-primary-fg-lighter);

    --button-border: var(--ethereal-border);
}

.ethereal-button-secondary {
    --button-bg: var(--ethereal-bg-light);
    --button-fg: var(--ethereal-fg-light);

    --button-hover-bg: var(--ethereal-bg-lighter);
    --button-hover-fg: var(--ethereal-fg-lighter);

    --button-border: var(--ethereal-border);
}

.md-copyright::after {
    content: "∙ Theme by znotfireman";
}

/*
.md-grid {
    margin-top: 0;
}

.md-sidebar--primary {
    background-color: var(--ethereal-bg-light);
    border-right: 0.1rem solid var(--ethereal-border);
}

@media screen and (min-width: 76.25em) {
    .md-sidebar {
        height: 100%;
    }


    .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
        background: none;
        box-shadow: none;
    }
}
*/

@media screen and (min-width: 80rem) {
    .md-grid {
        max-width: none;
    }

    .md-content {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    .md-sidebar:not([hidden])+.md-content {
        transform: translateX(-6.05rem);
    }

    .md-sidebar:not([hidden])+.md-sidebar:not([hidden])+.md-content {
        transform: unset;
    }

    .md-footer__inner {
        max-width: calc(40rem - 1rem);
        margin-left: auto;
        margin-right: auto;
    }
}

.md-typeset .md-button {
    border: 0.1rem solid var(--ethereal-border);
    border-radius: 0.25rem;
    background-color: var(--ethereal-bg-light);
    color: var(--ethereal-fg);
    padding: 0.3em 0.6em;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
        background-color: var(--ethereal-bg-lighter);
        border: 0.1rem solid var(--ethereal-border);
        color: var(--ethereal-fg-lighter);
    }

    &.md-button--primary {
        background-color: var(--ethereal-primary);
        border: 0.1rem solid var(--ethereal-border);
        color: var(--ethereal-primary-fg);

        &:hover {
            background-color: var(--ethereal-primary-light);
            color: var(--ethereal-primary-fg-light);
        }
    }
}
