* {
    --ethereal-header-bg: var(--ethereal-bg-light);
    --ethereal-header-fg: var(--ethereal-fg);
    --ethereal-header-item-bg: var(--ethereal-bg-light);
    --ethereal-header-item-hover-bg: var(--ethereal-bg-lighter);
    --ethereal-header-item-highlight: var(--ethereal-primary);
}

.md-header {
    background-color: var(--ethereal-header-bg);
    color: var(--ethereal-header-fg);
    box-shadow: none;
    border-bottom: 0.1rem solid var(--ethereal-border);

    .md-header__title {
        margin: 0;
    }

    .md-logo {
        padding: 0;
        margin: 0 0.5rem;
        display: flex;
        align-items: center;

        gap: 0.25rem;
        font-size: 1rem;
        font-weight: bold;
        color: var(--ethereal-header-fg);

        img {
            height: 1.5rem;
            width: auto;
        }
    }
}

.md-tabs {
    background: none;

    .md-tabs__list {
        --tab-height: 0.125rem;
        --tab-x-padding: 1rem;

        margin: 0;

        .md-tabs__item {
            --tab-bottom: calc(-1 * var(--tab-height));

            position: relative;
            padding: 0;

            >a {
                color: var(--ethereal-header-fg) !important;
                margin: 0;
                padding: 0.8rem calc(var(--tab-x-padding) / 2);
                transition: none;

                &:hover {
                    color: unset;
                }
            }

            &::after {
                display: block;
                content: "";

                width: calc(100% - var(--tab-x-padding));
                height: var(--tab-height);
                background-color: var(--ethereal-header-item-highlight);

                border-radius: 0.25rem 0.25rem 0 0;

                position: absolute;

                bottom: var(--tab-bottom);
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover {
                background-color: var(--ethereal-header-item-hover-bg);

                >a {
                    color: var(--ethereal-header-fg) !important;
                }
            }

            &.md-tabs__item--active {
                --tab-bottom: 0;
            }
        }
    }
}

.md-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--ethereal-bg-light);
    border-radius: 0.25rem;
    box-shadow: none;
    color: var(--ethereal-fg);
    border: 0.1rem solid var(--ethereal-border);
    font-size: 0.75rem;
    outline: none;
    padding: 0.3rem 0.6rem;
    position: fixed;
    transform: translate(-50%);
    transition: color 125ms, background-color 125ms, transform 125ms cubic-bezier(.4, 0, .2, 1), opacity 125ms;
    z-index: 3;

    &:hover {
        background-color: var(--ethereal-primary);
        color: var(--ethereal-primary-fg);
    }

    svg {
        height: 0.75rem;
        width: 0.75rem;
    }
}
